<div class="form-container">
  <div class="no-margin text-center" mat-dialog-title>
    <div class="header">  
      <img src="../../../assets/images/logo.png" alt="" class="logo" />
    </div>
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Login</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form (ngSubmit)="onSubmit()">
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input
                  #email="ngModel"
                  type="email"
                  name="email"
                  [(ngModel)]="model.email"
                  placeholder="Email"
                  required
                />
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="alert">
                  <div *ngIf="email.errors?.['required']">
                    <font color="red">Email is required.</font>
                  </div>
                </div>
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input
                  #password="ngModel"
                  type="password"
                  name="password"
                  [(ngModel)]="model.password"
                  placeholder="Password"
                  required
                />
                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                  class="alert">
                  <div *ngIf="password.errors?.['required']">
                    <font color="red">Password is required.</font>
                  </div>
                </div>
              </div>
              <input class="button" type="submit" value="Login" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <mat-form-field appearance="outline" style="width: 90%">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput [(ngModel)]="model.email"/>
          <mat-error>Email is required</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" style="width: 90%; margin-top: 10px; margin-bottom: 20px;">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" [(ngModel)]="model.password"/>
          <mat-error>Password is required</mat-error>
      </mat-form-field>
    
      <button class="login-button" mat-raised-button [disabled]="form.invalid">
          Login
      </button>
    </form> -->
  </div>
</div>





