/*Media Query Variables*/

$max-mobile: 767px;
$max-small: 991px;
$min-small: 768px;
$max-medium: 1200px;
$default-size : 1em;
$body-bg:#fff;
$primary-color-1:#2588DC;
// $primary-link-color-1:#2588DC;
// $primary-link-color-1:rgb(3, 85, 148);
// $primary-color-2:#FC920D;
$primary-color-2:#dcb125;
// $primary-color-2:#be9e56;
$primary-link-color-2: rgb(207, 171, 89);
$primary-color-3:#03cb3f;
// $primary-color-3:#089119;
// $primary-color-3:#a205ea;
$primary-color-4:#505450;
// $primary-color-4:#ea058b;
$primary-color-5:#8529cf;
// $primary-color-5:#6b0b68;
// $primary-color-5:#ea0505;
$primary-color-6: #e15a5a;
// $primary-color-6: #910B32;
// $primary-color-6: #DEE7EE;
$primary-color-7: #762124;
$bodyColor: #F6F7FA;
$darkModeColor: #B9B9B9;
