<div id="site-content">
  <app-nav-bar></app-nav-bar>
  <main class="main-content">
    <div class="container">
      <div class="page">
        <div class="row">
          <div class="col-md-7">
            <div class="slider">
              <ul>
                <li>
                  <img
                    src="https://localhost:44385/{{ data?.photoData }}"
                    alt="Slide 1"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <div class="latest-movie">
                  <h2>{{ data?.name }}</h2>
                </div>
              </div>
              <div class="col-sm-6 col-md-12">
                <div class="latest-movie">
                  <p>{{ data?.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .row -->
        <div class="row mx-auto">
          <div class="col-md-4 col-md-12">
            <iframe
              width="560"
              height="315"
              [src]="imageUrl"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="col-md-4 col-md-12">
            <a mat-button (click)="openDialogBooking()">Add Booking</a>
          </div>
        </div>
      </div>
    </div>
    <!-- .container -->
  </main>
</div>
<!-- Default snippet for navigation -->
